body{
  display: grid;
  justify-content: center;
  align-items: center;

  background-color: rgb(41, 148, 236) ;
}

.App .App_header {
  text-align: center;
  font-size: 40px;
  margin: 20px;
}
input {
  padding: 0;
  border-radius: 0px;
  height: 50px;
  width: 100%;
  padding-left: 10px;
  outline: none;
}
form select {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 0;
  border: 1px solid gray;
  background-color: #fff;
  padding-left: 10px;
}


